
.SideNav{
  background-color: var(--nav-background);
  height: 100%;
  width: var(--nav-width);
  position: fixed;
  z-index: 1;
}

.SideNav a{
  background-color: var(--nav-background);
  display: block;
  width: var(--nav-width);
  height: var(--nav-height);
  position: relative;
}

.SideNav .Brand {
  background-color: var(--brand-color) !important;
}

.SideNav .NavFoot {
  position: absolute !important;
  bottom: 0;
}

.SideNav a:hover, .SideNav .active{
  background-color: var(--nav-background-hover);
}

.SideNav a img, .SideNav a object{
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.SideNav .NavFoot > a{
  z-index: 1;
  display: none;
}

.SideNav .NavFoot input{
  display: none;
}


/* Landscape */
@media only screen
  and (min-width: 414px)
  and (max-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

.SideNav {
  height: var(--nav-height);
  width: 100%;
}

.SideNav a{
  display: inline-block;
}

.SideNav .NavFoot a{
  display: block !important;
  right: 0;

}

.SideNav .NavFoot{
  right: 0;
  top: 0;
}

.SideNav .NavFoot .FootBody{
  transition: 0.4s;
  top: calc(var(--nav-height) * -1);
  position: absolute;

}

.SideNav .NavFoot input{
  display: block;
  position: absolute;

}

.SideNav .NavFoot input:focus ~ .FootBody{
  transform-origin: top;
  transform: translateY(calc(var(--nav-height) * 2));
  transition: 0.4s;
}

/* .SideNav .NavFoot input:focus ~ .FootBody */









}
